
  <%= form_with(model: quiz, local: true) do |form| %>
    <% if quiz.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(quiz.errors.count, "error") %> prohibited this quiz from being saved:</h2>

        <ul>
          <% quiz.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="field mb-3">
      <%= form.label :問題 %>
      <%= form.text_area :question, class: "form-control", rows:"2" %>
    </div>

    <div class="field mb-3">
      <%= form.label :解答 %>
      <%= form.text_area :answer, class: "form-control", rows:"5" %>
    </div>

    <div class="field mb-3">
      <%= form.label :写真 %>
      <%= form.file_field :image %>
    </div>

    <div class="field mb-3">
      <%= form.label :方面 %>
      <%= form.select :destination, [:Asia, :Europe, :Oceania, :Americas, :Africa], { class: 'form-control' , required: true } %>
    </div>

    <div class="actions mb-3">
      <%= form.submit value="登録", class: 'btn btn-outline-warning' %>
    </div>
  <% end %>
