<div class="w-100 d-flex flex-column align-items-center">
  <h4>
    <strong>方面：</strong>
    <%= @quiz.destination %>
  </h4>
  
  <h4>
    <strong>Q:</strong>
    <%= @quiz.question %>
  </h4>

  <h4 id="timer"><span id="count" class="text-primary">5</span>秒後に答え合わせ</h4>
 
  <div>
    <%#= link_to @quiz.image.filename, @quiz.image if @quiz.image.attached? %>
    <%= image_tag @quiz.image.variant(resize_to_limit: [400, 400]) if @quiz.image.attached? %>
  </div>

  <div id="answer" style="display: none;">
    <p class="m-3 btn btn-success btn-lg"><%= @quiz.answer %></p>
  </div>
 
  <script>
   var count = document.getElementById("count");
    setInterval(function(){count.innerHTML--;},1000);
    setTimeout(function(){document.getElementById("answer").style.display="block";},5000);
    setTimeout(function(){document.getElementById("timer").style.display="none";},5000);
  </script>
 
  <% if current_user == @user || current_user.is_admin? %>
    <%= link_to 'クイズ一覧に戻る', quizzes_path, class: 'btn btn-outline-primary btn-lg m-3' %>
  <% end %>
</div>