<button type="button" class="btn btn-dark w-100">
  <%= form_with(model: user, local: true) do |form| %>
    <% if user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(user.errors.count, "error") %> prohibited this quiz from being saved:</h2>
  
        <ul>
          <% user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
 
    <div class="field mb-3">
      <%= form.label :名前 %>
      <%= form.text_area :name, class: "form-control" %>
    </div>
  
    <div class="field mb-3">
      <%= form.label :メールアドレス %>
      <%= form.email_field :email, class: "form-control" %>
    </div>
  
    <div class="field mb-3">
      <%= form.label :パスワード %>
      <%= form.password_field :password, class: "form-control" %>
    </div>
    
    <div class="field mb-3">
      <%= form.label :パスワード再入力 %>
      <%= form.password_field :password_confirmation, class: 'form-control' %>
    </div>

    <div class="actions mb-3">
      <%= form.submit value="更新", class: 'btn btn-outline-warning btn-lg' %>
    </div>
  <% end %>
</button>