<h1>勤怠編集</h1>

    <%= form_for(@attendance) do |f| %>
      <%= f.label :start, '出勤時刻' %>
      <%= raw sprintf(
        f.datetime_select( 
          :start_at,
          {
            start_year: Time.zone.now.prev_year.year,
            end_year: Time.zone.now.next_year.year,
            default: Time.zone.now,
            use_two_digit_numbers: true,
            date_separator: '%s',
            datetime_separator: '%s',
            time_separator: '%s'
          },
        ),
        '年 ', '月 ', '日 ', '時 ') +'分'
      %><br>
      
      <%= f.label :start, '退勤時刻' %>
      <%= raw sprintf(
        f.datetime_select( 
          :start_at,
          {
            start_year: Time.zone.now.prev_year.year,
            end_year: Time.zone.now.next_year.year,
            default: Time.zone.now,
            use_two_digit_numbers: true,
            date_separator: '%s',
            datetime_separator: '%s',
            time_separator: '%s'
          },
        ),
        '年 ', '月 ', '日 ', '時 ') + '分'
      %><br>
      
      <% if current_user.is_admin? %>
        <%= f.submit "更新", class: "btn btn-primary" %>
      <% else %>
        <%= f.submit "提出", class: "btn btn-primary" %>
      <% end %>
      
      <%= link_to '勤怠状況一覧に戻る', attendances_path, class: "btn btn-primary" %>
    <% end %>  